html, body {
  height: 100%;
  font-size: 16px;
  position: sticky;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: #0C0C0D;
}

/*NAVIGATION MENU*/

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 478px;
    height: 385px;
    z-index: 1000;
    overflow: visible;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 478px;
    height: 385px;
}

/*home menu button*/
.home-menu-item {
    position: absolute;
    top: 156px;
    width: 132px;
    height: 72px;
}

.home-menu-box {
    width: 132px;
    height: 72px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.home-menu-rect {
    width: 54px;
    height: 72px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.99) 0%, #000522 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(255, 255, 255, 0.99) 0%, #000522 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(255, 255, 255, 0.99) 0%, #000522 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(255, 255, 255, 0.99) 0%, #000522 50%) top right / 50% 50% no-repeat;
}

/*contact menu button*/
.contacts-menu-item {
    position: absolute;
    left: 198px;
    top: 0px;
    width: 116px;
    height: 122px;
}

.contacts-menu-box {
    width: 116px;
    height: 122px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.contacts-menu-rect {
    width: 116px;
    height: 72px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.99) 0%, #000522 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(255, 255, 255, 0.99) 0%, #000522 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(255, 255, 255, 0.99) 0%, #000522 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(255, 255, 255, 0.99) 0%, #000522 50%) top right / 50% 50% no-repeat;
}

/*work menu button*/
.works-menu-item {
    position: absolute;
    top: 152px;
    left: 393px;
    width: 85px;
    height: 122px;
}

.works-menu-box {
    width: 85px;
    height: 122px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.works-menu-rect {
    width: 85px;
    height: 72px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.99) 0%, #000522 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(255, 255, 255, 0.99) 0%, #000522 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(255, 255, 255, 0.99) 0%, #000522 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(255, 255, 255, 0.99) 0%, #000522 50%) top right / 50% 50% no-repeat;
}

/*about menu button*/
.about-menu-item {
    position: absolute;
    top: 259px;
    left: 198px;
    width: 116px;
    height: 126px;
}

.about-menu-box {
    width: 116px;
    height: 126px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.about-menu-rect {
    width: 55px;
    height: 76px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.99) 0%, #000522 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(255, 255, 255, 0.99) 0%, #000522 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(255, 255, 255, 0.99) 0%, #000522 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(255, 255, 255, 0.99) 0%, #000522 50%) top right / 50% 50% no-repeat;
}

.menu-text {
    font-family: "Source Code Pro";
    font-weight: 400;
    color: #e7e7e7;
    transition: color 0.1s ease;
}

.menu.menu-light .menu-text {
    color: #000522;
}

/* MAIN CONTENT */

#home {
    width: 100%;              
    height: 740px;                   
    margin: 0 auto;           
    
    background: radial-gradient(
        50% 50% at 50% 50%, 
        #4E19EB 0%, 
        #0C0C0D 100%
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.opingud {
    width: 100%; 
    height: 1922px;
    margin: 0 auto; 
    background: radial-gradient(50% 50% at 50% 50%, #A9F8C3 0%, #00C8CC 50.48%, #DAD4EB 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mull {
    width: 417px;
    height: 252px;
    position: absolute;
    border-radius: 50%;
    background: #E4E4E4;
    margin-top: 193px;
    margin-left: 145px;

    /*text mull*/
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Jetbrains Mono";
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
}


.mull2 {
    width: 580px;
    height: 239px;
    position: absolute;
    border-radius: 50%;
    background: #E4E4E4;
    margin-top: 573px;
    margin-left: 402px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.text-box-mull2 {
    font-family: "Jetbrains Mono";
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
    width: 60%;
    height: auto;
}

.mull3 {
    width: 500px;
    height: 193px;
    position: absolute;
    border-radius: 50%;
    background: #E4E4E4;
    margin-top: 1003px;
    margin-left: 93px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.text-box-mull3 {
    font-family: "Jetbrains Mono";
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
    width: 60%;
    height: auto;
}

.mull4 {
    width: 623px;
    height: 239px;
    position: absolute;
    border-radius: 50%;
    background: #E4E4E4;
    margin-top: 1400px;
    margin-left: 350px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.text-box-mull4 {
    font-family: "Jetbrains Mono";
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
    width: 60%;
    height: auto;
}

#works {
    width: 100%;
    height: 7488px;
    margin: 0 auto;
    background: #111110;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: rgba(232, 227, 227, 0.99);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-pictures {
    width: 20%;
    flex: 3;
}

.about-content {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: center;
    margin: 5rem 0 15rem 0;
}

.about-body-text {
    display: flex;
    flex: 7;
    height: inherit;
    justify-content: center;
    flex-direction: column;
    font-family: "JetBrains Mono";
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2%;
}

.about-body-text-1 {
    line-height: 200%;
    flex: 1;
    
}

.about-body-text-2 {
    line-height: 200%;
    flex: 1;
}

.myself {
    width: 193px;
    height: 206px;
    background-image: url('pildid/myself.svg');
    border: 1px solid #F00;
    background-repeat: no-repeat;
}

.rectangle {
    margin-top: 17px;
    width: 193px;
    height: 391px;
    border: 1px solid #F00;
}

.myself2 {
    width: 193px;
    height: 234px;
    background-image: url('pildid/myself2.svg');
    background-repeat: no-repeat;
}

.starvector {
    width: 195px;
    height: 156px;
    background-image: url('pildid/starvector.svg');
    background-repeat: no-repeat;
}

#contacts {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 740px;
    background: radial-gradient(112.94% 112.94% at 50% 50%, rgba(255, 255, 255, 0.90) 0%, rgba(243, 237, 148, 0.99) 13.7%, #F00 37.59%, rgba(0, 0, 0, 0.90) 53.91%);
}

.dark-text {
    color: black;
}
